[run]
parallel=True
concurrency=multiprocessing
omit = 
       /src/urh/tests/* 
       */__init__.py
       src/urh/cythonext/*
       src/urh/dev/*
       src/urh/ui/xtra_icons_rc.py
       src/urh/main.py
       src/urh/util/Errors.py
       src/urh/plugins/RfCat/RfCatPlugin.py

[report]
sort = Miss
exclude_lines =
    pragma: no cover
    def mousePressEvent
    def mouseMoveEvent
    def mouseReleaseEvent
