[run]
omit = 
       /src/urh/tests/* 
       */__init__.py
       src/urh/cythonext/*
       src/urh/dev/*
       src/urh/ui/xtra_icons_rc.py
       src/urh/main.py
       src/urh/util/Errors.py
       src/urh/plugins/RfCat/RfCatPlugin.py

[report]
sort = Miss
exclude_lines =
    pragma: no cover
    def mousePressEvent
    def mouseMoveEvent
    def mouseReleaseEvent
    def on_import_samples_from_csv_action_triggered
    def show_open_dialog
    def on_btn_choose_python2_interpreter_clicked
    def on_btn_choose_gnuradio_directory_clicked
    def on_new_project_action_triggered
    def on_label_non_project_mode_link_activated
