[Desktop Entry]
Type=Application
Version=1.0
Name=Universal Radio Hacker
Comment=investigate wireless protocols like a boss
Exec=/usr/bin/urh
Icon=urh
Terminal=false
