[Desktop Entry]
Type=Application
Version=1.0
Name=Universal Radio Hacker
Comment=investigate wireless protocols like a boss
Path=/usr/bin/urh
Exec=urh
Icon=urh
Terminal=false