[Desktop Entry]
Type=Application
Name=Universal Radio Hacker
Comment=investigate wireless protocols like a boss
Exec=/usr/bin/urh
Icon=urh
Terminal=false
Categories=HamRadio
